# Copy this file to .env.local and fill in the values.
# Never commit .env.local to version control.

MONGODB_URI=
AUTH0_SECRET=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
FASTAPI_URL=http://127.0.0.1:8000
UPSTASH_REDIS_URL=
APP_BASE_URL=http://localhost:3000
